body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background: rgb(98, 99, 98);
  }

  #align-left{
      text-align: left;
  }
  
  #align-right{
      text-align: right;
  }
  .cover-container {
    max-width: 42em;
  }

  .form1 {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }


#footer{
    text-align: center;
    background-color: #FFFFFF;
}